/dts-v1/;
/plugin/;
#include "dt-bindings/gpio/gpio.h"
/ {{
	fragment@0 {{
		target=<&gpio>;
		__overlay__ {{
			{__PIN_GROUPS__}
		}};
	}};

	fragment@1 {{
	    target=<&soc>;
	    __overlay__ {{
            {__HLEK_IO_DEVICES__}
	    }};
	}};
}};
